body{
  margin-top: 5%;
}

.content-div{
  padding: 2%;
}

.tweet-details{
  float: right;
}

#tweets, #twitter_scheduler{
  height: 473px;
  overflow: scroll;
}

.tweet-image{
  margin-left: 24%;
  margin-top: -3%;
}
